
.pointer{
  cursor: pointer;
}

.opacity{
  opacity: 0.6;
}
.bg-yellow {
    background-color: #FFC107;
}

.bg-black {
    background-color: rgb(37, 37, 37);
}


.mt-20 {
    margin-top: 33px;
}

/* herroSection */

.heroBanner {
    font-size: 65px;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/ar-vr-ai3.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
}

.brainster-hover:hover{
  font-size: 5rem;
}

.waviy {
  text-shadow: 5px 2px #f1eadb94, 2px 3px 0px #7d8164c0, 3px 1px #5e5951bb;
}


/* navSectio */

.nav-section {
    background-image: url(./images/ar-vr-ai3.jpg);
    background-color: grey;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  }

.hover:hover {
    box-shadow: 0px 12px 11px -8px rgba(255, 255, 255, 0.7);
  }
  
  ul {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-width: 60px;
}

  /* cards hover efects */

  .photo img{
    width: 200px;
    height: 280px;
    object-fit: cover;
    filter: grayscale(50%) contrast(120%);
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
  }
  
  .photo:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }
  
  .photo .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
  }
  .photo .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .photo:hover img,
  .photo:hover .glow-wrap{
    margin-top: 0;
  }

  /* MediaQuery */

  @media (max-width: 550px){
    .smaller-text {
      font-size: 3rem;
    }
    .check-cards{
      font-size: 1rem;
    }
    
  }
  @media (max-width: 425px){
    .smaller-text {
      font-size: 2rem;
    }
    .check-cards{
      font-size: 0.9rem;
    }
    
  }


  

  




  
  